body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #14efd9;
}

h1 {
    color: #000000;
}

#app {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#task-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

#add-task {
    padding: 10px 20px;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background-color: #fff;
    border: 1px solid #b93333;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
